# Ignore local logs
*.log

# Cache (For example shadesrs like Anime4K and timestamps folders like watch_later and etc)
*.cache/
cache/

# settings fuke for sub_transition
script-opts/sub_transition.conf

# OS specific files
.DS_Store
Thumbs.db

